.main__comments_body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 16em;
  .comments__toggleView--more,
  .comments__toggleView--less {
    margin-right: 1em;
    padding: .25em;
    cursor: pointer;
  }
  ul.comments {
    list-style: none;
    padding: 4em;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      img {
        height: 45px;
        width: 45px;
        border-radius: 30px;
        margin-right: 1em;
      }
      h3 {
        margin-right: 1em;
      }
      p {
        margin: 0 0 1em;
        line-height: 1.4285em;
        max-width: 75%;
        font-size: 14px;
      }
    }
  }
}
