@import 'main';
@import 'countdown';
@import 'login';
@import 'modal';
@import 'quiz';
@import 'comments';

#app {
  padding-top: 1em;
}
.hidden {
  display: none !important;
}
// #app {
//     // background: url('../../images/Mom_and_Dad.jpg') no-repeat;
//     // background: url('../../images/Mom_and_Dad.jpg') no-repeat;
//     background: url('../../images/OldGuySkateboard.jpg') no-repeat;
//     background-size: cover;
//     height: auto;
//     width: auto;
// }

.logout {
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  width: 12em;
  margin-left: 80%;
}

.img__container {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  .img {
    width: 350px;
    border-radius: 175px;
    background-size: cover;
    background: url('../../images/mom_dad_beach_Cropped.jpg') no-repeat;
  }
}
